<?xml version="1.0" ?>
<robot name="leg_design">

<!-- We will use the stl files from the onderdelen leg file to design the legs -->
<!-- <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 fibula_1.2-5.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 tibia_scaled 1.2-3.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 small link 1.2-2.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 servo_housing-1.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 mirrored_servo_extension-1.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 Hip Holder 1.2-4.STL" />
<mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1  1.2-4.STL" /> -->

<!-- The fibula -->
  <link name="fibula">
    <visual>
      <geometry>
        <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 fibula_1.2-5.STL" scale="0.15549 0.019275 0.014"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 fibula_1.2-5.STL" scale="0.15549 0.019275 0.014"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.017"/>
      <inertia 
    ixx="0.0002908" 
    iyy="0.0003089" 
    izz="0.0005914" 
    ixy="-0.0002847" 
    ixz="-0.000010869" 
    iyz="-0.000010446"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>

<!--  tibia -->
    <link name="tibia">
        <visual>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 tibia_scaled 1.2-3.STL" scale="0.168 0.024 0.022"/>
        </geometry>
        </visual>
        <collision>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 tibia_scaled 1.2-3.STL" scale="0.168 0.024 0.022"/>
        </geometry>
        </collision>
        <inertial>
        <mass value="0.017"/>
        <inertia 
    ixx="3.829e-05" 
    iyy="3.829e-05" 
    izz="7.658e-05" 
    ixy="3.829e-05" 
    ixz="1.337e-07" 
    iyz="-1.033e-07"/>
    <origin xyz="0.106 -0.155 0.172"/>
    </inertial>  
    </link>

<!--  small link -->
    <link name="small_link">
        <visual>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 small link 1.2-2.STL" scale="0.03 0.021 0.005"/>
        </geometry>
        </visual>
        <collision>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 small link 1.2-2.STL" scale="0.03 0.021 0.005"/>
        </geometry>
        </collision>
<inertial>
  <origin xyz="0.063 -0.013 0.171"/>
  <mass value="0.002"/>
  <inertia 
    ixx="1.661e-07" 
    iyy="1.831e-07" 
    izz="3.408e-07" 
    ixy="1.167e-07" 
    ixz="1.186e-09" 
    iyz="-1.726e-09"/>
</inertial>
    </link>

<!--  servo_housing -->
    <link name="servo_housing">
        <visual>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 servo_housing-1.STL" scale="0.064 0.056 0.005"/>
        </geometry>
        </visual>
        <collision>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 servo_housing-1.STL" scale="0.064 0.056 0.005"/>
        </geometry>
        </collision>
<inertial>
  <origin xyz="0.063 -0.013 0.171"/>
  <mass value="0.022"/>
  <inertia 
    ixx="1.661e-07" 
    iyy="1.831e-07" 
    izz="3.408e-07" 
    ixy="1.167e-07" 
    ixz="1.186e-09" 
    iyz="-1.726e-09"/>  

</inertial>
    </link>

<!--  mirrored_servo_extension -->
    <link name="mirrored_servo_extension">
        <visual>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 mirrored_servo_extension-1.STL" scale="0.064 0.056 0.005"/>
        </geometry>
        </visual>
        <collision>
        <geometry>
            <mesh filename="onderdelenleg/Body_assemb - Leg_assembly_bottom_right-1 mirrored_servo_extension-1.STL" scale="0.064 0.056 0.005"/>
        </geometry>
        </collision>
<inertial>
  <origin xyz="0.124 0.038 0.132"/>
  <mass value="0.022"/>
  <inertia 
    ixx="1e-08" 
    iyy="1e-08" 
    izz="1e-08" 
    ixy="-4.455e-08" 
    ixz="-9.550e-09" 
    iyz="-4.548e-09"/>
</inertial>
    </link>

<!-- joining the parts using fixed joints all moving to the front of the leg -->
    <joint name="joint1" type="fixed">
        <parent link="body"/>
        <child link="fibula"/>
        <origin xyz="0.063 -0.013 0.171"/>
    </joint>
    
    <joint name="joint2" type="fixed">
        <parent link="fibula"/>
        <child link="tibia"/>
        <origin xyz="0.063 -0.013 0.171"/>
    </joint>
    
    <joint name="joint3" type="fixed">
        <parent link="tibia"/>
        <child link="small_link"/>
        <origin xyz="0.063 -0.013 0.171"/>
    </joint>
    
    <joint name="joint4" type="fixed">
        <parent link="small_link"/>
        <child link="servo_housing"/>
        <origin xyz="0.063 -0.013 0.171"/>
    </joint>
    
    <joint name="joint5" type="fixed">
        <parent link="servo_housing"/>
        <child link="mirrored_servo_extension"/>
        <origin xyz="0.063 -0.013 0.171"/>
    </joint>
    

    






</robot>